$vue-color: #42b983;

body {
  margin: 0;
}

a {
  cursor: pointer;
}

a[disabled] {
  background-color: #c0c0c0;
  cursor: auto;
  color: #636363;

  &:hover {
    filter: none
  }
}

.button {
  padding: 10px 20px;
  background-color: $vue-color;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  display: inline-flex;

  &--danger {
    background-color: #e44444;
  }

  &--info {
    background-color: #2b89e0;
  }

  &:hover {
    filter: brightness(115%);
  }
}

.table {
  background-color: #eee;
  width: 400px;
  max-width: 100%;

  &__th, &__td {
    color: #111;
    padding: 5px 10px;
  }

  &__th {
    font-size: 15px;
  }

  &__td {
    font-size: 14px;
    width: 50%;
  }

  &__tdBig {
    padding: 15px 0;
  }

  &__deleteItem {
    margin-left: 10px;
    color: red;
  }
}